<!DOCTYPE html>
<html>
<head>
	<script src="angular.min.js"></script>
		<script> var app=angular.module("myApp",[]);
		app.controller("myctrl",function($scope){
			$scope.factorial=function(){
				
								var fact=1;
										for(var i=1;i<=$scope.value;i++){
      								     fact*=i;
										}
										$scope.result=fact;
										return fact;
										}
			
			
		});
		
	</script>
</head>
<body ng-App="myApp" ng-controller="myctrl">
	Enter The Number : <input type="number" name="" ng-model="value"><br>
	Factorial : <input type="number" name="" ng-model="result"><br>
	 <input type="button" name="" value="factorial" ng-click="factorial()"><br>
	
	
</body>
</html>